@{
    ViewData["Title"] = "Granary";
}

<h1>Granary</h1>

<p>Welcome to Granary: a light-weight, all-in-one, kitchen management assistant!</p>

<p>
    Granary is designed to help you manage your kitchen inventory, track product costs, and streamline your cooking processes.
</p>





